/* ### Page Settings ### */
body {
    background-color: #000000;
    overflow: hidden;
}

/* ### Text ### */
p.heavy {
    font-weight: 600;
}

p.light {
    font-weight: 300;
}

.emphasize {
    font-weight: 600;
}

#bigWrapper {
    position: absolute;
    width: 100%;
    min-height: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
}

.bulletinBoxOpacity {
    background: rgb(128, 128, 128); /* Why are you using a browser that doesn't suppoer RGBa? */
    background: rgba(128, 128, 128, .3)
}

#bulletinBox {
    border-radius: 25px;
    /*background: #808080;
    opacity: .3;*/
    padding: 20px;
    min-width: 100px;
    max-width: 550px;
    min-height: 100px;
    margin: 0;
    z-index: 5;
}

span.bulletinText {
    display: inline-block;
    color: #ffffff;
    opacity: 1;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    margin: 0;
    z-index: 6;
}

span.bulletinText a {
    color: #d80000; /*Alt color choice: #d88200*/
    font-weight: 400;
    text-decoration: none;
}

#copyrightBoxMobile {
    display: none;
}

span.copyrightMobile {
    display: none;
}

#copyrightBoxDesktop {
    border-radius: 25px;
    min-width: 600px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 49;
}

span.copyrightDesktop {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    color: #808080;
    margin: 0;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 50;
}

/* ### Big Graphics ### */
.background {
    min-height: 1080px;          /* top three lines are flexbox */
    display: inline-flex;
    align-items: center; 
    margin: 0;
    position: absolute;
    bottom: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .45;
    z-index: 2;
}

.backgroundMobile {
    display: none;
}

#Github {
    width: 40px; 
    height: 40px;
    margin: 0;
    padding-top: 10px;
    z-index: 5;
}